[run]
branch = True
omit = venv/*,**/*test*.py,manage.py,__localcode/*

# pip install coverage
# 'coverage run -m pytest'  >>> para rodar o teste no terminal
# 'coverage run manage.py test'

# 'coverage html' >>> para ver arquivo index no navegador, para saber quantos por centos foi testado da aplicação